@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);

    --font-size: 13px;
    --normal-weight: 500;
    --bold-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: var(--normal-weight);
    font-size: var(--font-size);
    color: var(--Desaturated-Dark-Blue);
}

h2, h3{color: var(--Very-Dark-Grayish-Blue);}

.screen {
    width: 100vw;
    height: 100vh;
    background-color: var(--Light-Grayish-Blue);
    position: relative;
}

p {
    line-height: 20px;
}

.box {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 700px;
    height: 280px;
    background-color: #fff;
    box-shadow: 1px 1px 25px var(--Grayish-Blue);
    display: grid;
    grid-template-columns: 280px 420px;
    grid-template-rows: 100%;
}

.post-img {
    background-image: url(../images/drawers.jpg);
    background-size: cover;
}

.post-content {
    width: 350px;
    height: 220px;
    position: relative;
    inset: 0;
    margin: auto;
}

.post-content h2,
.post-content p {
    margin-bottom: 10px;
}

.post-profile {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 60px 1fr 30px;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.share {
    padding: 10px;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
    cursor: pointer;
}

.share-box {
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 7px;
    width: 180px;
    height: 40px;
    box-shadow: 0px 0px 3px var(--Grayish-Blue);
    position: absolute;
    left: 240px;
    bottom: 60px;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top: 15px solid var(--Very-Dark-Grayish-Blue);
    border-bottom: 0;
    left: 322px;
    bottom: 50px;
}

.share-box div {
    width: 100%;
    height: 100%;
    display: flex;
}

.share-box div a {
    width: 40%;
    text-decoration: none;
    color: var(--Light-Grayish-Blue);
    text-transform: uppercase;
    letter-spacing: 3px;
    align-self: center;
    text-align: center;
    margin-left: 5px;
}

.share-box div img {
    width: 15px;
    height: 15px;
    margin: 13.5px 8px 11.5px 8px;
}

.hidden {
    display: none;
}
